unsigned int counter = 0;
unsigned int nn = 0;
void main() {
trise=0;
ansele = 0;
trisb.f0 = 1;
anselb.f1 = 1;
trisa.f5=0;
trisa.f4=0;
trisa.f3=1;
ansela.f5=0;
ansela.f4=0;
ansela.f3=0;
adc_init();
nn=(adc_read(12)*5)/1023;   porte = nn;
porta.f4 = 1; porta.f5 = 0;
for(counter = 1; counter <= nn; counter ++)
{
while(porta.f3 == 0) {}
while (porta.f3 == 1) {}
}
porta.f4 =  0;



}
