//1
int num = 0;
int check(int num){
if (num == 0)
 {return 0x3F;}
 if (num == 1)
 {return 0x06;}
 if (num == 2)
 {return 0x5B;}
 if (num == 3)
 {return 0x4F;}
 if (num == 4)
 {return 0x66;}
 if (num == 5)
 {return 0x6D;}
 if (num == 6)
 {return 0x7D;}
 if (num == 7)
  {return 0x07;}
  if (num == 8)
  {return 0x7F;}
  if (num == 9)
  {return 0x6F;}
}
void main() {
trisa.f5=0;
ansela.f5=0;
ansela.f4=0;
ansela.f3=0;
ansela.f0=0;
ansela.f1=0;
anseld=0;
trise.f1 = 0;
trisa.f4=0;
trisa.f3=1;
anselb=0;
trisb=0xf0;
trisd=0x00;
trisa.f0=0;
trisa.f1=0;
sound_Init(&porte,1);
while(1)
{
num = portb >> 4;
porta.f0=1;
porta.f1=0;
portd=check(num%10);
delay_ms(10);
porta.f0=0;
porta.f1=1;
portd=check(num/10);
delay_ms(10);
if (num == 0)
{
porta.f4 = 0;
porta.f5 = 0;
}
else if(num % 5 == 0)
{

porta.f4 = 1;
porta.f5 = 0;
}
else if(num % 7 == 0)
{
porta.f4 = 0;
porta.f5 = 1;
}
else
{
   Sound_Play(2800,20) ;
}
}
}



